<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>SpringTestingUI</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="styles.d6adadeb02518605d0e7.css"></head>
<body>
<app-root></app-root>
<script src="runtime-es2015.3a22e2c250964b9a2c94.js" type="module"></script><script src="polyfills-es2015.8860c45e49cbdb6d141f.js" type="module"></script><script src="runtime-es5.c88f6e1d1fd14655d145.js" nomodule defer></script><script src="polyfills-es5.7f4a9743c45639a58660.js" nomodule defer></script><script src="scripts.6b9e0ea0acd42a3d343d.js" defer></script><script src="main-es2015.d82b45ca7812a43c77f2.js" type="module"></script><script src="main-es5.dec4f69658409c75931a.js" nomodule defer></script></body>
</html>
