<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form method="post" th:action="@{/login}">
    <div><label> User Name : <input name="username" type="text"/> </label></div>
    <div><label> Password: <input name="password" type="password"/> </label></div>
    <div><label> RememberMe: <input name="remember-me" type="checkbox"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>
</body>
</html>


<!--
<html>
<head>
    <title>Spring Security Example </title>
</head>

<body>
<h1>Login</h1>

<form name='f' action="login" method='POST'>
    <table>
        <tr>
            <td>User:</td>
            <td><input type='text' name='username' value=''></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type='password' name='password' /></td>
        </tr>
        <tr>
            <td>Remember Me:</td>
            <td><input type="checkbox" name="remember-me" /></td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="submit" /></td>
        </tr>
    </table>
</form>

</body>
</html>

-->